* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
body {
  background: linear-gradient(to top, rgba(100, 100, 100, 0.2) 20%, rgba(255, 255, 255, 0.5) 40%, #ffffff 100%);
  background-repeat: no-repeat;
}

.scene {
  width: 100%;
  height: 100%;
  perspective: 800px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
}
.scene .shadow {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #b1b1b1;
  -webkit-box-shadow: 0 0 100px 150px #b1b1b1;
  box-shadow: 0 0 100px 150px #b1b1b1;
  transform: rotateX(90deg) translateZ(-200px);
}

.face {
  width: 200px;
  height: 200px;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}

.face_left {
  background-image: url('https://uploaddeimagens.com.br/images/000/955/232/full/side.jpg?1497835464');
  transform: translateX(-50%) rotateY(-90deg);
}

.face_right {
  background-image: url('https://uploaddeimagens.com.br/images/000/955/232/full/side.jpg?1497835464');
  transform: translateX(50%) rotateY(90deg);
}

.face_back {
  background-image: url('https://uploaddeimagens.com.br/images/000/955/232/full/side.jpg?1497835464');
  transform: translateZ(-100px) scaleX(-1);
}

.face_front {
  background-image: url('https://uploaddeimagens.com.br/images/000/955/232/full/side.jpg?1497835464');
  transform: translateZ(100px);
}

.face_bottom {
  background-image: url('https://uploaddeimagens.com.br/images/000/955/231/full/bottom.jpg?1497835434');
  transform: rotateX(90deg) translateZ(-100px);
}

.face_top {
  background-image: url('https://uploaddeimagens.com.br/images/000/955/233/thumb/top.jpg?1497835487');
  transform: rotateX(90deg) translateZ(100px);
}